*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}
header{
    max-width: 1800px;
    
    margin: 0 auto;
    background-image: url("./images/banner/banner3.png");
    background-position: center;
    background-size: cover;
    margin-bottom: 115px;

}
/* SHARED ELEMENT */
.common{
    margin: 0 auto;
    max-width: 1140px;
}  
.btn{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
}

/* MAIN ELEMENT */

/* Header Section Start */
.header-content{
    padding: 216px 230px  166px 845px;
    color: white;
    text-align: right;
    
    
}
.header-content h1{
    font-size: 65px;
    max-width: 525px;
    margin-bottom: 30px;  
}
.header-content p{
    font-size: 16px;
    line-height: 26px;
    max-width: 494px;
    margin-bottom: 32px;
}
/* Header Section End */

/* Start Fail Section */
.fail{
    max-width: 1049px;
    margin: 0 auto;
   
}
.fail-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 105px;
    
}
.fail-content{
    max-width: 416px;
}
.fail-content h2{
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}
.fail-content p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
    color: #444343;
}
.fail-content li{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
    color: #444343;
    list-style-type: none;
}
/* End Fail Section */

/* Plan Section Started */
.plans{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    
}
.plans h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}
.all-plan{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;

}
.single-plan{
    text-align: center;
}
.single-plan img{
    margin-bottom: 20px;
}
.single-plan h3{
    margin-bottom: 10px;
    color: #151515;
}
.single-plan p{
    margin-bottom: 10px;
    color: #444343;
}
/* Plan Section End */

/* Watch Section Start */
.watch{
    background: url("./images/watch.png");
    background-repeat: no-repeat;
    max-width: 1140px;
    margin: 0 auto;
    color: white;
    margin-bottom: 130px;
    border-radius: 10px;

}
.watch-container{
    max-width: 459px;
    /* margin: 59px; */
    padding: 59px;
}
.watch-container h2{
    margin-bottom: 24px;
    
}
.watch-container button{
    font-weight: 600;
    color: #005FAC;
}
/* Watch Section End */

/* Footer Section Started */
.footer{
    max-width: 1800px;
    margin: 0 auto;
    background: #151414;
    color: white;
}
.footer-container{
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 130px 230px;
    gap: 330px;
    align-items: center;
}
.footer-content{
    max-width: 5185px;
}
.footer-content p{
    font-size: 16px;
    line-height: 26px;
}
.footer-form{
    max-width: 325px;
    display: inline;
    
}
.footer-form *{
    margin-bottom: 15px;
}
.footer-form input{
    padding: 10px;
    border-radius: 5px;
}
/* Footer Section End */


